.list {
    display: flex;
    list-style: none;
    padding: 0;
   
    
}

.list > *{
    display: block;
    border-radius: 30px;
    width: 171px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
    background-color: rgb(166, 204, 255);
    border: 1px ridge rgba(137, 135, 255, 0.6);
}

.label{
    margin-right: 10px;
}

.description > * {
    text-align: center;
}

.card {
    background-color: rgba(141, 196, 233, 0.534);
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

